<main>
  <h2>Product Details</h2>
  <section>
    <h3>Product Name: {{productName}}</h3>
    <p>Product Description: {{productDesc}}</p>
    <p>SKU: {{productSKU}}</p>
    <p>product: {{productCategory}}</p>
    <p>Quantity: {{productQuantity}}</p>
    <p>Price: {{productPrice}}</p>
  </section>
</main>
